asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cssselect==1.1.0
Django==3.0.3
google==2.0.3
idna==2.9
lxml==4.5.0
parsel==1.5.2
postgres==3.0.0
psycopg2-binary==2.8.4
psycopg2-pool==1.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
selectorlib==0.16.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
urllib3==1.25.8
w3lib==1.21.0
