.App{
    text-align: center;
}

.main-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: #444d52;
    color: white;
}

.main-search-bar{
  font-size: 24;
  
  display: block;
  width: 100%;
  box-sizing: border-box;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;

  border-radius:0px;
  border-width: 0px;
  border-bottom-width: 2px;
  
  margin-left: 0px;
  margin-bottom: 9px;
}

.searchPage{
    width: 100%;
    text-align: center;
}

.navbar-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.card-result-container{
    background: grey;
    display: flex;
    width: 100%;
}

.card-details{
    text-align: left;
    vertical-align: text-top;
    padding-left: 20px;
}

.button-container{
    display: flex;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.watchlist-button{
    border-radius: 5%;
    border-width: 0;
    vertical-align: bottom;
}
